body
{
   margin: 0 10% 0 10%;
}



.centered
{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.header
{
  width: 100%;
  height: 40px;	
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border-radius: 4px;
  padding: 0.5%;  
}

#logoutBtn
{
	float: right;
	margin-top: 7px;
	
}

#username
{
  color:red;
}